/*body
{
	background-image: url("/Images/backgroundBlack.png");
	background-size: cover;
	background-repeat: no-repeat;
}*/

body{
	background-color: antiquewhite;
	
}

.information
{
	position: relative;
	top: 150px;
	/*height: 700px;*/
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;	
}
h1{
	color: rgb(128, 0, 128);
}
.icons
{
	font-size: 17px;
	position: relative;
	top: 150px;
	left: 300px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	width: 900px;
	color: rgb(128, 0, 0);
	
	
}