<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>SS Beauty : About</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}">	
	</nav>
	
	<div class="information">
		
		<h1>SS Beauty Product Shop</h1>
		<h4>NPN :XXX/1,E Ward,Main Road,</h4>
		<h4>Near Ashok Nagar,</h4>
		<h4>Nippani-Xyz,India.</h4>
		
	</div>
	<div class="icons">
		<h3><i class="fa-brands fa-square-instagram" style="color: black;"></i> :@SS_3023</h3>
		<h3><i class="fa-solid fa-phone" style="color: black;"></i> : +91-1234567890</h3>
		<h3> <i class="fa-solid fa-envelope" style="color: black;"></i>  : abc23@gmail.com</h3>
		
	</div>
</body>
</html>