<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        .container{
            font-family: cursive;
            font-weight: bold; 
            margin-top: 200px;
        }
        h1{
            color: rgb(246, 160, 160);
        }
        button
        {
            color:hotpink;
        }
    </style>
</head>
<body>
   <center> <div class="container">
        <h1>Ooops...Sorry..!!!</h1>
        <h3>Something went Wrong....!</h3>
        <small>Exception has Occured....!!!</small><br>
        <button type="submit"> Home</button> 
        <button type="submit">Help</button>
    </div></center>
</body>
</html>