<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>SS Beauty : Products</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{css/Products.css}" />
	
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	
		
		<section class="p2">
<section>
	<div class="a1"><img th:src="@{/images/c1.jpg}"/><h3>Compact Powder</h3><h4>450</h4></div>
	
	<div class="a3"><img th:src="@{/images/m1.jpg}"/><h3>Face Mask</h3><h4>230</h4></div>
	<div class="a2"><img th:src="@{/images/sc.jpg}"/><h3>Kajal</h3><h4>150</h4></div>
	
</section>
<section>
   <div class="a4"><img th:src="@{/images/shampo1.jpg}"/><h3>Shampoo</h3><h4>180</h4></div>
   <div class="a7"><img th:src="@{/images/s1.jpg}"/><h3>SunScreen</h3><h4>250</h4></div>
	<div class="a6"><img th:src="@{/images/L1.jpg}"/><h3>Lipstick</h3><h4>300</h4></div>
</section>
<section>
	<div class="a8"><img th:src="@{/images/e1.jpg}"/><h3>FaceWash</h3><h4>200</h4></div>
	<div class="a9"><img th:src="@{/images/s3.jpg}"/><h3>Oil</h3><h4>225</h4></div>
	<div class="a9"><img th:src="@{/images/m1.jpg}"/><h3>Foundation</h3><h4>350</h4></div>
</section>
<section>
	<div class="a10"><img th:src="@{/images/c2.jpg}"/><h3>Conditionar</h3><h4>330</h4></div>
	<div class="a11"><img th:src="@{/images/kit.jpg}"/><h3>MakeUp kit</h3><h4>500</h4></div>
	<div class="a12"><img th:src="@{/images/g1.jpg}"/><h3>Gulab Jal</h3><h4>120</h4></div>
	
</section>
<section>
	
</section>
</section>
	
</body>

</html>